@model FProjectMVC.Models.CategoryListViewModel

@{
    ViewData["Title"] = "GetAllCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Categories: </h4>

<div>
    @foreach (var category in Model.Categories)
    {
        <div>
            <div><h6>Title:@Html.ActionLink(category.Title, "GetCategoryById", "Category", new { id = category.Id }, null)</h6></div>
        </div>
    }
<div>
    <button type="submit">@Html.ActionLink("Add New Category", "Add", "Category")</button>
</div>
</div>