@model FProjectMVC.Models.CategoryViewModel

@{
    ViewData["Title"] = "GetCategoryById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <div><h4>Title: @Model.Title</h4></div>
    <p>@Html.ActionLink("Edit", "Update", "Category", new { id = Model.Id }, null)</p>
    <p>@Html.ActionLink("Delete", "Delete", "Category", new { id = Model.Id }, null)</p>
</div>

