@model FProjectMVC.Models.CategoryViewModel

@{
    ViewData["Title"] = "GetCategoryById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <div><h4>Title: @Model.Title</h4></div>
    <p>
        <button type="submit">@Html.ActionLink("Edit", "Update", "Category", new { id = Model.Id }, null)</button>
        <button type="submit">@Html.ActionLink("Delete", "Delete", "Category", new { id = Model.Id }, null)</button>
    </p>
    
</div>

