@model FProjectMVC.Models.BrandListViewModel

@{
    ViewData["Title"] = "GetAllBrands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Brands: </h1>

<div>
    @foreach (var brand in Model.Brands)
    {
        <div>
            <div><h4>Title:@Html.ActionLink(brand.Title, "GetBrandById", "Brand", new { id = brand.Id }, null)</h4></div>
        </div>
    }
    <div>
        <p>@Html.ActionLink("Add New Brand", "Add", "Brand")</p>
    </div>
</div>