@model FProjectMVC.Models.BrandViewModel

@{
    ViewData["Title"] = "GetBrandById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <div><h4>Title: @Model.Title</h4></div>
    <div>Description: @Model.Description</div>
    <p>@Html.ActionLink("Edit", "Update", "Brand", new { id = Model.Id }, null)</p>
    <p>@Html.ActionLink("Delete", "Delete", "Brand", new { id = Model.Id }, null)</p>
</div>

